{{> adminSidebar}}
{{> adminNavbar}}
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    <!-- Add Banner and Search Area -->
    <div class="bg-light text-center rounded pb-4">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <!-- Add Banner Button triggers the modal -->
          <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#addBannerModal">
            Add Banner
          </button>
        </div>
        <div class="col-md-4">
          <input class="form-control rounded-3 bg-transparent" type="search" id="searchInput" placeholder="Search" />
        </div>
      </div>
    </div>

    <!-- Banner Table -->
    <div class="table-responsive">
      <table class="table text-start align-middle table-bordered table-hover mb-0">
        <thead>
          <tr class="text-dark">
            <th scope="col"><input class="form-check-input" type="checkbox"></th>
            <th scope="col">Title</th>
            <th scope="col">Subtitle</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Link</th>
            <th scope="col">Display Order</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="bannerTableBody">
          {{#each banners}}
          <tr>
            <td><input class="form-check-input" type="checkbox"></td>
            <td>{{this.title}}</td>
            <td>{{this.subtitle}}</td>
            <td>{{this.description}}</td>
            <td><img src="{{this.image}}" alt="Banner Image" style="max-width: 100px; max-height: 60px;"></td>
            <td>{{this.link}}</td>
            <td>{{this.displayOrder}}</td>
            <td>
              <div class="d-flex justify-content-start">
                <a class="btn btn-sm btn-primary" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#editBannerModal"
                  data-banner='{{json this}}'>
                  <i class="fa fa-edit"></i>
                </a> 
                <a class="btn btn-sm btn-danger ms-2" href="/admin/deleteBanner?id={{this._id}}"><i class="fa fa-trash"></i></a>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Add Banner Modal -->
<div class="modal fade" id="addBannerModal" tabindex="-1" aria-labelledby="addBannerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBannerModalLabel">Add Banner</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addBannerForm" action="/admin/addBanner" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="subtitle" class="form-label">Subtitle</label>
            <input type="text" class="form-control" id="subtitle" name="subtitle" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" required></textarea>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
          </div>
          <div class="mb-3">
            <label for="link" class="form-label">Link</label>
            <input type="url" class="form-control" id="link" name="link" required>
          </div>
          <div class="mb-3">
            <label for="displayOrder" class="form-label">Display Order</label>
            <input type="number" class="form-control" id="displayOrder" name="displayOrder" required>
          </div>
          <button type="submit" class="btn btn-primary">Add Banner</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{> adminFooter}}