 {{>adminSidebar}}
 {{>adminNavbar}}
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    {{!-- add product, search area start --}}
    <div class="bg-light text-center rounded pb-4">
      <div class="row align-items-center justify-content-between ">
        <div class="col-auto">
          <a href="/admin/addproduct" class="btn btn-primary m-2">Add Products</a>
        </div>
        <div class="col-md-4">
          <input class="form-control rounded-3 bg-transparent" type="search" value="" id="searchInput" placeholder="Search" />
        </div>
        <div class="col-auto">
          <div class="row ">
          <div class="col">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle m-2" type="button" id="filterCategoryButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="filterCategoryButton">
              <a class="dropdown-item filter-option" data-filter-type="category" data-filter-value="mens" >mens</a>
              <a class="dropdown-item filter-option" data-filter-type="category" data-filter-value="womens" >womens</a>
              <a class="dropdown-item filter-option" data-filter-type="category" data-filter-value="premium" >premium</a>
              <a class="dropdown-item filter-option" data-filter-type="category" data-filter-value="popular" >popular</a>
              <a class="dropdown-item filter-option" data-filter-type="category" data-filter-value="New arrival" >New arrival</a>
            </div>
          </div>
          </div>
          <div class="col">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle m-2" type="button" id="filterStatusButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Status
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="filterStatusButton">
              <a class="dropdown-item filter-option" data-filter-type="status" data-filter-value="true" >Active</a>
              <a class="dropdown-item filter-option" data-filter-type="status" data-filter-value="false" >Inactive</a>
            </div>
          </div>
          </div>
          <div class="col">
          <a href="/admin/product" class="btn btn-primary m-2">clearfilters</a>
          </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- add product, search area end --}}
    <div class="table-responsive">
      <table class="table text-start align-middle table-bordered table-hover mb-0">
        <thead>
          <tr class="text-dark">
            <th scope="col"><input class="form-check-input" type="checkbox"></th>
            <th scope="col">Product</th>
            <th scope="col">Category</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
<tbody id="productTableBody">
  {{#each products}}
  <tr>
    <td><input class="form-check-input" type="checkbox"></td>
    <td>
      <div class="d-flex align-items-center">
        <img src="/uploads/{{this.image.[0]}}" alt="" style="width: 4rem;" class="rounded-2 ">
        <div class="ms-3 text-wrap">
          <h6 class="mb-0">{{this.name}}</h6>
        </div>
      </div>
    </td>
    <td>{{this.category}}</td>
    <td>{{date this.createdAt "MMMM Do, YYYY"}}</td>
    <td>{{this.price}}</td>
    <td>
      {{#if this.isActive}}
      <button class="btn btn-sm btn-success toggle-status" data-product-id="{{this._id}}" data-action="inactive">Active</button>
      {{else}}
      <button class="btn btn-sm btn-danger toggle-status" data-product-id="{{this._id}}" data-action="active">Inactive</button>
      {{/if}}
    </td>
    <td>
      <a class="btn btn-sm btn-primary" href="/admin/editProduct?id={{this._id}}"><i class="fa fa-edit"></i></a>
    </td>
  </tr>
  {{/each}}
</tbody>
      </table>
    </div>
  </div>
</div>

{{> adminFooter}}

</div>
<!-- Content End -->

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const toggleButtons = document.querySelectorAll('.toggle-status');

    toggleButtons.forEach(button => {
      button.addEventListener('click', async () => {
        const productId = button.dataset.productId;
        const action = button.dataset.action;
        const url = action === 'active' ? `/admin/productActive/${productId}` : `/admin/productInactive/${productId}`;

        try {
          const response = await fetch(url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
          });

          const data = await response.json();
          if (data.product) {
            if (action === 'active') {
              button.textContent = 'Active';
              button.classList.remove('btn-danger');
              button.classList.add('btn-success');
              button.dataset.action = 'inactive';
            } else {
              button.textContent = 'Inactive';
              button.classList.remove('btn-success');
              button.classList.add('btn-danger');
              button.dataset.action = 'active';
            }
          } else {
            console.error('Error toggling product status:', data.error);
          }
        } catch (error) {
          console.error('Error toggling product status:', error);
        }
      });
    });


    const searchInput = document.getElementById('searchInput')
    const filterOptions = document.querySelectorAll('.filter-option')

    filterOptions.forEach(option =>{
      option.addEventListener('click',async(e)=>{
        e.preventDefault()
        const filterType = option.dataset.filterType
        const filterValue =option.dataset.filterValue

        try{
          const response = await fetch(`/admin/searchProducts?q=${searchInput.value}&${filterType}=${filterValue}`);
          const data = await response.json();
          const products = data.products;

          const productTableBody = document.getElementById('productTableBody');
          productTableBody.innerHTML = '';

          products.forEach(product => {
            const productRow = document.createElement('tr');

            productRow.innerHTML = `
              <td><input class="form-check-input" type="checkbox"></td>
              <td>
                <div class="d-flex align-items-center">
                  <img src="/uploads/${product.image[0]}" alt="" style="width: 4rem;" class="rounded-2">
                  <div class="ms-3 text-wrap">
                    <h6 class="mb-0">${product.name}</h6>
                  </div>
                </div>
              </td>
              <td>${product.category}</td>
              <td>${product.createdAt}</td>
              <td>${product.price}</td>
              <td>
                ${product.isActive ? `<button class="btn btn-sm btn-success toggle-status" data-product-id="${product._id}" data-action="inactive">Active</button>` : `<button class="btn btn-sm btn-danger toggle-status" data-product-id="${product._id}" data-action="active">Inactive</button>`}
              </td>
              <td>
                <a class="btn btn-sm btn-primary" href="/admin/editProduct?id=${product._id}"><i class="fa fa-edit"></i></a>
              </td>
            `;

            productTableBody.appendChild(productRow);
          });
        }catch(error){
          console.error('Error filtering products:', error);
        }
      })
    })


   searchInput.addEventListener('input', async () => {
      const query = searchInput.value; 

      try {
        const response = await fetch(`/admin/searchProducts?q=${query}`);
        const data = await response.json();
        const products = data.products;

        const productTableBody = document.getElementById('productTableBody');
        productTableBody.innerHTML = '';

        if (!products.length > 0) {
          productTableBody.innerHTML = "<tr class='text-center'><td colspan='7'><h4 >No products found.</h4></td></tr>";
        }

        products.forEach(product => {
          const productRow = document.createElement('tr');

          productRow.innerHTML = `
            <td><input class="form-check-input" type="checkbox"></td>
            <td>
              <div class="d-flex align-items-center">
                <img src="/uploads/${product.image[0]}" alt="" style="width: 4rem;" class="rounded-2">
                <div class="ms-3 text-wrap">
                  <h6 class="mb-0">${product.name}</h6>
                </div>
              </div>
            </td>
            <td>${product.category}</td>
            <td>${product.createdAt}</td>
            <td>${product.price}</td>
            <td>
              ${product.isActive ? `<button class="btn btn-sm btn-success toggle-status" data-product-id="${product._id}" data-action="inactive">Active</button>` : `<button class="btn btn-sm btn-danger toggle-status" data-product-id="${product._id}" data-action="active">Inactive</button>`}
            </td>
            <td>
              <a class="btn btn-sm btn-primary" href="/admin/editProduct?id=${product._id}"><i class="fa fa-edit"></i></a>
            </td>
          `;

          productTableBody.appendChild(productRow);
        });
      } catch (error) {
        console.error('Error searching products:', error);
        productTableBody.innerHTML = "<tr class='text-center'><td colspan='7'><h4 >Error fetching products.</h4></td></tr>";
      }
    });
  });
</script>
