
    <div class="page-wrapper">
{{>allPageHeader}}
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Wishlist<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="container">
					<table class="table table-wishlist table-mobile">
						<thead>
							<tr>
								<th><strong>Product</strong></th>
								<th><strong>Price</strong></th>
								<th><strong>Stock Status</strong></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
                            {{#each userWishlists}}
							<tr>
								<td class="product-col">
									<div class="product">
										<figure class="product-media">
											<a href="/productView?q={{this._id}}">
												<img src="/uploads/{{this.image.[0]}}" alt="Product image">
											</a>
										</figure>

										<h3 class="product-title">
											<a href="/productView?q={{this._id}}">{{this.name}}</a>
										</h3><!-- End .product-title -->
									</div><!-- End .product -->
								</td>
								<td class="price-col">{{this.price}}</td>
								<td class="stock-col"><span class="in-stock">In stock</span></td>
								<td class="action-col">
                                    {{#if isInCart}}
									<a href="/cart" class="btn btn-outline-primary-2 btn-order btn-block"><i class="icon-cart-plus"></i> GO TO CART</a>
                                    {{else}}
									<a href="/addToCart?q={{this._id}}" class="btn btn-outline-primary-2 btn-order btn-block"><i class="icon-cart-plus"></i> ADD TO CART</a>
                                    {{/if}}
								</td>
								<td class="remove-col"><a href="/removeFromWishlist?q={{this._id}}" class="btn-remove"><i class="icon-close"></i></a></td>
							</tr>
                            {{/each}}
						</tbody>
					</table><!-- End .table table-wishlist -->
            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

{{>allPageFooter}}

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

{{>mobileView}}

    <script src="assets/js/main.js"></script>
